
#imHeaderBg {position: absolute; left: 0; top: 0; height: 165px; width: 100%; background-color: transparent;}
#imHeader {margin-bottom: 26px; height: 204px; background-color: transparent; background-image: url('\assets\userfile\img\baner\top.jpg'); background-position: top left; background-repeat: no-repeat;}
