        #custom-search-form {
            margin: 0;
            margin-top: 5px;
            padding: 0;
        }

            #custom-search-form .search-query {
                padding-right: 25px;
                padding-right: 25px \9;
                padding-left: 10px;
                padding-left: 10px \9;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */
                margin-bottom: 0;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                border-radius: 30px;
            }

        .search-query::-ms-clear {
            display: none;
        }

        #custom-search-form button {
            border: 0;
            background: none;
            /** belows styles are working good */
            padding: 2px 5px;
            margin-top: 2px;
            position: relative;
            left: -33px;
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .search-query:focus + button {
            z-index: 3;
        }